 <div class="row responsive-lg" id="machine" sstyle="padding: 0px">
                    <div class="col">
                        <div class="row responsive-lg">
                             <!--<div class="col">
                                <div class="item item-text-wrap" style="text-align: center; vertical-align: middle; background: #444;">
                                    <span class="textdash" style="color: yellow; "><b>{{selectedMachine.name}}</b></span>
                                </div>
                            </div>-->
                            <div class="col">
                                <div class="item item-text-wrap" style="text-align: center; vertical-align: middle">
                                    <span class="textdash">400</span>
                                </div>
                            </div>
                            <div class="col">
                                <div class="item item-text-wrap" style="text-align: center; vertical-align: middle">
                                    <span class="textdash">400</span>
                                </div>
                            </div>
                            <div class="col">
                                <div class="item item-text-wrap" style="text-align: center; vertical-align: middle">
                                    <span class="textdash">400</span>
                                </div>
                            </div>
                            <div class="col">
                                <div class="item item-text-wrap" style="text-align: center; vertical-align: middle">
                                    <span class="textdash">400</span>
                                </div>
                            </div>
                            <div class="col">
                                <div class="item item-text-wrap" style="text-align: center; vertical-align: middle">
                                    <span class="textdash">400</span>
                                </div>
                            </div>
                            <div class="col">
                                <div class="item item-text-wrap" style="text-align: center; vertical-align: middle">
                                    <span class="textdash">400</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row responsive-lg" id="availabilitytrend" style="height: 200px;">
                    <div class="col">
                        <div class="card dashcard">
                            <div class="item item-divider">
                                Healthy Score Trend
                            </div>
                            <div class="item item-text-wrap" style="text-align: center; vertical-align: middle">
                                  <canvas height="90" id="line" class="chart chart-line" chart-data="linedata" chart-labels="linelabels" chart-legend="true" chart-series="lineseries"
                                          chart-options="{showTooltips: true}"></canvas>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card dashcard">
                            <div class="item item-divider">
                                Equipment Availability Trend
                            </div>
                            <div class="item item-text-wrap" style="text-align: center; vertical-align: middle">
                                  <canvas height="90" id="line2" class="chart chart-line" chart-data="line2.data" chart-labels="line2.labels" chart-legend="true" chart-series="line2.series"
                                          chart-options="{showTooltips: true}"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row responsive-lg">
                    <div class="col" id="meaasurementprofile">
                        <div class="sitem sitem-text-wrap" style="overflow: auto; height: 200px; text-align: center; vertical-align: middle">
                            <table border="1" width="100%">
                                <tr ng-repeat="evl in eventlog.slice().reverse() track by $index" ng-class="$index % 2 == 0 ? 'event' : 'odd'">
                                    <td>
                                       
                                        {{evl}}
                                       
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="col" id="eventlog">
                        <div class="sitem sitem-text-wrap" style="overflow:auto; height: 200px; text-align: center; vertical-align: middle">
                            <table border="1" width="100%">
                                <tr ng-repeat="evl in eventlog2.slice().reverse() track by $index" ng-class="$index % 2 == 0 ? 'event' : 'odd'">
                                    <td>
                                      
                                        {{evl}}
                                      
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>