<ion-view title="Dashboard" ng-init="init()" id="dash">
    <ion-nav-buttons side="left">
        <button ng-click="toggleLeft()" class="button button-small button-clear icon-left ion-navicon">&nbsp;</button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button ng-class="simulstatus ? 'button-balanced' : 'button-dark'" ng-click="toggleCsvSimulation()" class="button button-small icon-left ion-ios-cloud-download">&nbsp;Toggle CSV Simul</button>
        <!--<button ng-click="toggleDeviceEvents()" class="button button-small icon-left ion-ios-cloud-download">&nbsp;Toggle Device Events</button>-->
        <button ng-click="toggleRight()" class="button button-small button-clear icon-left ion-navicon">&nbsp;</button>
    </ion-nav-buttons>
    <ion-content scroll="true" overflow-scroll="true">
        <div class="row">
            <div class="col col-10">
                <div class="button-bar">
                    <b>Timeframe</b>
                </div>
            </div>
            <div class="col-33">
                <div class="button-bar timeframe-bar">
                    <a class="button-small" grouped-radio="'Day'" ng-model="dashboard.timeframe">Day</a>
                    <a class="button-small" grouped-radio="'Month'" ng-model="dashboard.timeframe">Month</a>
                    <a class="button-small" grouped-radio="'Year'" ng-model="dashboard.timeframe">Year</a>
                </div>
            </div>
            <div class="col"></div>
        </div>
        <div class="row responsive-lg">
            <div class="col">
                <div class="card dashcard">
                    <div class="item item-divider" ng-click="getOperationShutdownTime()">
                        Operation Shutdown Time
                    </div>
                    <div class="item item-text-wrap">
                        <canvas height="150" id="operationshutdownpie" class="chart chart-pie" chart-data="pie2.data" chart-labels="pie2.labels"
                            chart-options="pie2.options">
                            </canvas>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card dashcard">
                    <div class="item item-divider">
                        Overall Equipment Health Score
                    </div>
                    <div class="item item-text-wrap">
                        <canvas height="150" id="doughnut" class="chart chart-doughnut" chart-data="doughnot.data" chart-options="doughnot.options"
                            chart-labels="doughnot.labels">
                            </canvas>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card dashcard">
                    <div class="item item-divider" ng-click="getProductionOutputWithTarget()">
                        Production Output with Target(Day)
                    </div>
                    <div class="item item-text-wrap" style="text-align: center; vertical-align: middle">
                        <span class="textdash">{{prodoutput}}/{{totoutput}}(EA)</span>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card dashcard">
                    <div class="item item-divider" ng-click="getProductionDefectCount()">
                        Production defect count
                    </div>
                    <div class="item item-text-wrap">
                        <canvas height="220" id="bar" class="chart chart-horizontal-bar" chart-data="defectbar.data" chart-labels="defectbar.labels"
                            chart-options="defectbar.options" chart-series="defectbar.series">
                            </canvas>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card dashcard">
                    <div class="item item-divider" ng-click="getEquipmentAnomalyCount()">
                        Equipment Anomaly Count(Month)
                    </div>
                    <div class="item item-text-wrap">
                        <canvas height="220" id="bar" class="chart chart-bar" chart-data="equipmentanomaly.data" chart-labels="equipmentanomaly.labels"
                            chart-series="equipmentanomaly.series">
                            </canvas>
                    </div>
                </div>
            </div>
        </div>
        <!--<div ng-if="dashboard.activeriquadro==0" ng-include="'templates/dash01.html'"></div>
        <div ng-if="dashboard.activeriquadro==1" ng-include="'templates/dash02.html'"></div>
        <div ng-if="dashboard.activeriquadro==2" ng-include="'templates/dash03.html'"></div>-->
        <div class="row responsive-lg" style="background: #eeeeee">
            <div class="col col-10" id="phases">
                <div class="row">
                    <div class="col" style="height: 80px; border: 0px solid silver; border-radius: 5px;">
                        <img src="img/customerlogo_GD.jpg" style="width: 100; height: 100%;" />
                    </div>
                </div>
                <div class="row responsive-lg">
                    <div class="col">
                        <div class="card phasecard">
                            <div class="item item-divider">
                                Phases
                            </div>
                            <div class="item item-text-wrap" ng-repeat="phase in phases track by $index" style="text-align: center; vertical-align: middle; padding: 0px; margin: 0px;">
                                <span class="phasename">{{phase.name}}</span>
                                <div class="row">
                                    <div class="col">
                                        <div class="smachineblock" ng-repeat="machine in phase.machines track by $index">
                                            <div class="machineblock" ng-class="machine==selectedMachine ? 'selected' : 'unselected'" ng-click="selectMachine(machine)">
                                                <div class="row">
                                                    <div class="col col-66">
                                                        <span>{{machine.name}}<br><span class="machinedescr">{{machine.description}}</span></span>
                                                    </div>
                                                    <div class="col">
                                                        <span class="badge1">0</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="row" style="height: 35px">
                    <div class="col col-10">
                        <span class=" button button-small button-outline button-energized" style="background: #444; text-align: center; color: yellow; width: 100%; font-size: 13px; "><b>{{selectedMachine.name}}</b></span>&nbsp;&nbsp;
                    </div>
                    <div class="col">
                        <button ng-click="setDash(0)" class="button button-small button-outline button-positive">Equipment Monitoring</button>
                        <button ng-click="setDash(1)" class="button button-small button-outline button-positive">Anomaly Detection</button>
                        <button ng-click="setDash(2)" class="button button-small button-outline button-positive">Failure Prediction</button>
                    </div>
                </div>
                <div ng-if="dashboard.activeriquadro==0" ng-include="'templates/dash01.html'"></div>
                <div ng-if="dashboard.activeriquadro==1" ng-include="'templates/dash02.html'"></div>
                <div ng-if="dashboard.activeriquadro==2" ng-include="'templates/dash03.html'"></div>
                <!--
                <div class="row responsive-lg" id="machine" sstyle="padding: 0px">
                    <div class="col">
                        <div class="row responsive-lg">
                            <div class="col col-25">
                                <div class="item item-text-wrap" style="text-align: center; vertical-align: middle">
                                    <span class="textdash">400</span>
                                </div>
                            </div>
                            <div class="col">
                                <div class="item item-text-wrap" style="text-align: center; vertical-align: middle">
                                    <span class="textdash">400</span>
                                </div>
                            </div>
                            <div class="col">
                                <div class="item item-text-wrap" style="text-align: center; vertical-align: middle">
                                    <span class="textdash">400</span>
                                </div>
                            </div>
                            <div class="col">
                                <div class="item item-text-wrap" style="text-align: center; vertical-align: middle">
                                    <span class="textdash">400</span>
                                </div>
                            </div>
                            <div class="col">
                                <div class="item item-text-wrap" style="text-align: center; vertical-align: middle">
                                    <span class="textdash">400</span>
                                </div>
                            </div>
                            <div class="col">
                                <div class="item item-text-wrap" style="text-align: center; vertical-align: middle">
                                    <span class="textdash">400</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row responsive-lg" id="availabilitytrend">
                    <div class="col">
                        <div class="card dashcard">
                            <div class="item item-divider">
                                Healthy Score Trend
                            </div>
                            <div class="item item-text-wrap" style="text-align: center; vertical-align: middle">
                                  <canvas height="120" id="line" class="chart chart-line" chart-data="linedata" chart-labels="linelabels" chart-legend="true" chart-series="lineseries"
                                          chart-options="{showTooltips: true}"></canvas>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card dashcard">
                            <div class="item item-divider">
                                Equipment Availability Trend
                            </div>
                            <div class="item item-text-wrap" style="text-align: center; vertical-align: middle">
                                  <canvas height="120" id="line2" class="chart chart-line" chart-data="line2.data" chart-labels="line2.labels" chart-legend="true" chart-series="line2.series"
                                          chart-options="{showTooltips: true}"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row responsive-lg">
                    <div class="col" id="meaasurementprofile">
                        <div class="sitem sitem-text-wrap" style="overflow: auto; height: 200px; text-align: center; vertical-align: middle">
                            <table border="1" width="100%">
                                <tr ng-repeat="evl in eventlog.slice().reverse() track by $index" ng-class="$index % 2 == 0 ? 'event' : 'odd'">
                                    <td>
                                       
                                        {{evl}}
                                       
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="col" id="eventlog">
                        <div class="sitem sitem-text-wrap" style="overflow:auto; height: 200px; text-align: center; vertical-align: middle">
                            <table border="1" width="100%">
                                <tr ng-repeat="evl in eventlog2.slice().reverse() track by $index" ng-class="$index % 2 == 0 ? 'event' : 'odd'">
                                    <td>
                                      
                                        {{evl}}
                                      
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>-->
            </div>
        </div>
    </ion-content>
</ion-view>