<ion-view title="Welcome">
    <ion-nav-buttons side="left">
        <button ng-click="toggleLeft()" class="button button-small button-clear icon-left ion-navicon">&nbsp;</button>
    </ion-nav-buttons>
  <ion-content padding="true">
    <p>Swipe to the right to reveal the left menu.</p>
    <p>(On desktop click and drag from left to right)</p>
    <button id="removeDataset" ng-click="init()">INIT</button>
    <button id="removeDataset" ng-click="addBars()">BARS</button>
    <button id="connectToIOT" ng-click="iotconnect()">CONNECT</button>
     <div class="card">
              <img style="width: 100%; height: 100%" ng-src="img/worldmap01.png" />
              </div>
    <div class="row">
      <div class="col" ng-repeat="h in horizontalGauges">
        <div class="card">

          <div class="item item-text-wrap">
            <div id="scanvas-holder">
              <canvas id="chart-area{{$index}}" width="400" height="400" />
            </div>
            <button id="randomizeData{{$index}}" ng-click="clickRandomize($index)">Randomize Data</button>
            <button id="addDataset" ng-click="addDataset($index)">Add Dataset</button>
            <button id="removeDataset" ng-click="removeDataset($index)">Remove Dataset</button>
            <button id="connectToIOT" ng-click="connect()">CONNECT</button>
           
            </div>

          </div>
        </div>
      </div>
  </ion-content>
</ion-view>