<ion-view title="charts" ng-init="init()" id="dash">
      <ion-content>
            <button ng-click="getDeviceData()" class="button button-small icon-left ion-home">Get Device Data</button>
            <div class="row">
                  <div class="col col-10" id="phases">
                        <div class="card">
                                          <div class="item item-divider">
                                                Phases
                                          </div>
                                        
                          <div class="item item-text-wrap" ng-repeat="phase in phases track by $index" style="text-align: center; vertical-align: middle">
                              {{phase.name}}
                              <div class="row">
                                    <div class="col">
                                          <div class="row item item-text-wrap" ng-repeat="machine in phase.machines track by $index">
                                                {{machine}}
                                          </div>
                                    </div>
                              </div>
                        </div>
                        </div>
                  </div>
                  <div class="col">
                        <div class="row">
                              <div class="col">
                                    <div class="card">
                                          <div class="item item-divider">
                                                Operation Shutdown Time
                                          </div>
                                          <div class="item item-text-wrap">
                                                <canvas id="pie" class="chart chart-pie" chart-data="pie2.data" chart-labels="pie2.labels" chart-options="pie2.options">
                                                </canvas>
                                          </div>
                                    </div>
                              </div>
                              <div class="col">
                                    <div class="card">
                                          <div class="item item-divider">
                                                Overall Equipment Health Score
                                          </div>
                                          <div class="item item-text-wrap">
                                                <!--<canvas id="line" class="chart chart-line" chart-data="line.data" chart-labels="line.labels" chart-legend="true" chart-series="line.series"
                                          chart-options="{showTooltips: true, scaleShowLabels: false}"></canvas>-->
                                                <canvas id="doughnut" class="chart chart-doughnut" chart-data="doughnot.data" chart-labels="doughnot.labels">
                                                </canvas>
                                          </div>
                                    </div>
                              </div>
                              <div class="col">
                                    <div class="card">
                                          <div class="item item-divider">
                                                Production Output with Target(Day)
                                          </div>
                                          <div class="item item-text-wrap" style="text-align: center; vertical-align: middle">
                                                <span class="textdash">{{prodoutput}}/{{totoutput}}(EA)</span>
                                          </div>
                                    </div>
                              </div>
                              <div class="col">
                                    <div class="card">
                                          <div class="item item-divider">
                                                Production defect count
                                          </div>
                                          <div class="item item-text-wrap">
                                                <canvas id="bar" class="chart chart-bar" chart-data="defectbar.data" chart-labels="defectbar.labels" chart-series="defectbar.series">
                                                </canvas>
                                          </div>
                                    </div>
                              </div>
                              <div class="col">
                                    <div class="card">
                                          <div class="item item-divider">
                                                Equipment Anomaly Count(Month)
                                          </div>
                                          <div class="item item-text-wrap">
                                                <canvas id="bar" class="chart chart-bar" chart-data="defectbar.data" chart-labels="defectbar.labels" chart-series="defectbar.series">
                                                </canvas>
                                          </div>
                                    </div>
                              </div>
                        </div>
                        <div class="row" id="machine" style="padding: 0px">
                              <div class="col">
                                    <div class="row">
                                          <div class="col col-25">
                                                <div class="item item-text-wrap" style="text-align: center; vertical-align: middle">
                                                      <span class="textdash">400</span>
                                                </div>
                                          </div>
                                          <div class="col">
                                                <div class="item item-text-wrap" style="text-align: center; vertical-align: middle">
                                                      <span class="textdash">400</span>
                                                </div>
                                          </div>
                                          <div class="col">
                                                <div class="item item-text-wrap" style="text-align: center; vertical-align: middle">
                                                      <span class="textdash">400</span>
                                                </div>
                                          </div>
                                          <div class="col">
                                                <div class="item item-text-wrap" style="text-align: center; vertical-align: middle">
                                                      <span class="textdash">400</span>
                                                </div>
                                          </div>
                                          <div class="col">
                                                <div class="item item-text-wrap" style="text-align: center; vertical-align: middle">
                                                      <span class="textdash">400</span>
                                                </div>
                                          </div>
                                          <div class="col">
                                                <div class="item item-text-wrap" style="text-align: center; vertical-align: middle">
                                                      <span class="textdash">400</span>
                                                </div>
                                          </div>
                                    </div>
                              </div>
                        </div>
                        <div class="row" id="availabilitytrend">
                              <div class="col">
                                    <div class="item item-text-wrap" style="text-align: center; vertical-align: middle">
                                          <canvas height="50" id="line" class="chart chart-line" chart-data="line2.data" chart-labels="line2.labels" chart-legend="true"
                                                chart-series="line2.series" chart-options="{showTooltips: true, scaleShowLabels: false, showScale: false}"></canvas>
                                    </div>
                              </div>
                              <div class="col">
                                    <div class="item item-text-wrap" style="text-align: center; vertical-align: middle">
                                          <canvas height="50" id="line" class="chart chart-line" chart-data="line2.data" chart-labels="line2.labels" chart-legend="true"
                                                chart-series="line2.series" chart-options="{showTooltips: true, scaleShowLabels: false}"></canvas>
                                    </div>
                              </div>
                        </div>
                        <div class="row">
                              <div class="col" id="meaasurementprofile">
                                    <div class="item item-text-wrap" style="text-align: center; vertical-align: middle">
                                          <div ng-repeat="evl in eventlog track by $index" style="font-size: 12px; overflow: auto; border: 0px 0px 1px 0px solid black">
                                                {{evl}}
                                          </div>
                                    </div>
                              </div>
                              <div class="col" id="eventlog">
                                    <div class="item item-text-wrap" style="text-align: center; vertical-align: middle">
                                          <div ng-repeat="evl in eventlog track by $index" style="font-size: 12px; overflow: auto; border: 0px 0px 1px 0px solid black">
                                                {{evl}}
                                          </div>
                                    </div>
                              </div>
                        </div>
                  </div>
            </div>
           
            <!-- <div class="row">
                  <div class="col">
                        <div class="card">
                              <div class="item item-divider">
                                    Line Chart
                              </div>
                              <div class="item item-text-wrap">
                                    <canvas id="line" class="chart chart-line" chart-data="line2.data" chart-labels="line2.labels" chart-legend="true" chart-series="line2.series"
                                          chart-options="{showTooltips: true}"></canvas>
                              </div>
                        </div>
                  </div>
                  <div class="col">
                        <div class="card">
                              <div class="item item-divider">
                                    Events
                              </div>
                              <div class="item item-text-wrap">
                                    {{numevents}}
                              </div>
                        </div>
                  </div>
                  <div class="col">
                        <div class="card">
                              <div class="item item-divider">
                                    Line Chart
                              </div>
                              <div class="item item-text-wrap">
                                    <canvas id="bar" class="chart chart-bar" chart-data="bars.data" chart-labels="bars.labels" chart-series="bars.series">
                                    </canvas>
                              </div>
                        </div>
                  </div>
            </div>-->
      </ion-content>
</ion-view>