
  <ion-side-menu side="right">
    <ion-header-bar class="bar-stable">
      <h1 class="title">Left</h1>
    </ion-header-bar>
    <ion-content>
      <ion-list>
        <ion-item menu-close ng-click="setDash(0)">
         Equipment Monitoring
        </ion-item>
         <ion-item menu-close ng-click="setDash(1)">
          Anomaly Detection
        </ion-item>
         <ion-item menu-close ng-click="setDash(2)">
          Failure Prediction
        </ion-item>
         <ion-item menu-close ng-click="setDash(3)">
          Maintenance
        </ion-item>       
      </ion-list>
    </ion-content>
  </ion-side-menu>
 