<md-dialog aria-label="Failure Prediction Model">
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2 style="color: #ffffff">Failure Prediction Model</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="closeDialog()">
		  <ng-md-icon icon="close" style="fill: white" size="25" aria-label="Close dialog"></ng-md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content">

        <img style="width: 90%; height: 90%;" alt="Failure Prediction Model" src="img/failurepredictionmodel.png">


      </div>
    </md-dialog-content>

  </form>
</md-dialog>
