
<ion-side-menus enable-menu-with-back-views="true">

  <ion-pane ion-side-menu-content drag-content="false">
    <ion-nav-bar class="bar-dark">
      <!--<ion-nav-back-button class="button-clear"><i class="icon ion-chevron-left"></i> Back</ion-nav-back-button>-->
	  
    </ion-nav-bar>
    <ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
	<!--<ion-nav-view name="plannerContent" animation="slide-left-right"></ion-nav-view>-->
  </ion-pane>

 
		
  
  <!--<ion-side-menu side="left">
    <ion-nav-view name="menuLeft" id="menuLeft" animation="slide-left-right"></ion-nav-view>
	
  </ion-side-menu>-->

     <ion-side-menu side="left" >
                <ion-header-bar class="bar-dark">
                  <h1 class="title">&nbsp;</h1>
                </ion-header-bar>
                <ion-content class="menuleft" sstyle="background: #444444">
                  <ul class="list">
                    
                    <!--<a ui-sref="app.home"
                       ui-sref-active="current" 
                       class="item item-icon-left">
                      <i class="icon ion-home"></i>
                     Home</a>-->



                    <a ui-sref="app.dash"
                       ui-sref-active="current" 
                       class="item item-icon-left">
                      <i class="icon ion-stats-bars"></i>
                      Dashboard</a>
                    <a ui-sref="eventmenu.attendees"
                       ui-sref-active="current" 
                       class="item item-icon-left">
                      <i class="icon ion-email"></i>
                      Attendees</a>
                      <a ui-sref="app.grafici"
                       ui-sref-active="current" 
                       class="item item-icon-left">
                      <i class="icon ion-stats-bars"></i>
                      Minidash</a>
                  </ul>
                </ion-content>
              </ion-side-menu>
  
  

  <ion-side-menu side="right" >
      <ion-nav-view name="menuRight" id="menuRight" animation="slide-right-left"></ion-nav-view>
   <!--<header class="bar bar-header bar-stable">
      <h1 class="title">My Account</h1>
    </header>
    <ion-content class="has-header">
      <ion-list>
        <ion-item nav-clear menu-close  style="font-size: 13px" >
          <b>{{useremail}}</b><br>
		   {{username}}<br>
		   <span style="color: gray">{{userrole}}<span>
        </ion-item>
       
         <ion-item nav-clear menu-close href="#/app/mymessages">
		 <i class="icon ion-ios-recording"></i>&nbsp;&nbsp;Change password
        </ion-item>
		<ion-item nav-clear menu-close ng-controller="HomepageCtrl" sng-show="showAdmin" href="#/appadmin/admin">
		 <i class="icon ion-ios-recording"></i>&nbsp;&nbsp;Administration
        </ion-item>
       
		<ion-item nav-clear menu-close href="#" ng-controller="AppCtrl" ng-click="logOut()">
          <i class="icon ion-log-in"></i>&nbsp;&nbsp;Logout
        </ion-item>
		<ion-item nav-clear menu-close href="#" ng-controller="AppCtrl" ng-click="closeApp()">
          <i class="icon ion-android-exit"></i>&nbsp;&nbsp;Close Client365
        </ion-item>
      </ion-list>
    </ion-content>-->
  </ion-side-menu>

   
  
  
  

  
</ion-side-menus>


