body {
  /*cursor: url('http://ionicframework.com/img/finger.png'), auto;*/
  padding: 0px;
  margin: 0px;
}

.current{
  background: #ddd !important;
}

ion-side-menu.menu-left.menu {
  background-color: #333 !important;
}
ion-side-menu.menu-left.menu ion-header-bar {
  background-color: #333 !important;
}

ion-side-menu.menu-left.menu .list .item{
 background: #333 !important;
 color:#fff !important;
 border:#564545 !important;
}

/*.dashcard {
  margin: 3px;
  height: 270px;

}*/

@media screen and (min-width: 1024px) {
.menu-content{
left: 45px !important;
width: calc(100% - 45px) !important;
}
.menu-left{
  width:320px !important;
}
.dashcard {
  margin: 3px;
  height: 190px;

}

}

@media screen and (max-width: 300px) {
  .dashcard {
  margin: 3px;
  /*height: 100%;*/

}
}

.bar.bar-dark{
  background: #333 !important;
}

.card .item-divider{
  background: #ddd;
  //color: white;
}

/*
@media (min-width: 1024px) {
.menu-content{
left: 190px !important;
width: calc(100% - 45px) !important;
}
.menu-left{
  width:320px !important;
}
}*/

.textdash {
  font-size: 20px;
  text-align: center;
  vertical-align: middle;

}

#dash .col {
  /*padding: 2px 2px;*/
  padding: 0px;
}



.phasecard {
  margin: 3px;
}

.dashcard .row {
  height: 100%;
}





.dashcard .item-divider, .phasecard .item-divider {
  padding-top: 4px;
  padding-bottom: 4px;
  font-size: 11px;
}

.dashcard .item-text-wrap {
  height: 100%;
}

.machineblock {
   height: 50px;
   width: 100%;
   background: silver;
   margin: 5;
   border-radius: 6px;
      text-align: center;
  vertical-align: middle;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
  padding: 0px;
  margin: 0px;
}

.machineblock .active{

   background: seagreen;


}

.machinedescr {
  font-size: 10px;
}

.badge1 {
   position:relative;
}
.badge1 {
   /*content:attr(data-badge);*/
   position:absolute;
   /*top:-10px;*/
   right: 10px;
   font-size:1em;
   background:red;
   color:white;
   width:18px;height:18px;
   text-align:center;
   line-height:18px;
   border-radius:20%;
   box-shadow:0 0 1px #333;
}

.eventlog {
  font-size: 14px; 
  overflow: auto; 
  border: 0px 0px 1px 0px solid black;
}

.odd {
  background: silver;
}

.phasename {
  font-size: 12px;
       text-align: center;
  vertical-align: middle;
   font-weight: bold;

}


div.tooltip {   
  position: absolute;           
  text-align: center;           
  width: 60px;                  
  height: 28px;                 
  padding: 2px;             
  font: 12px sans-serif;        
  background: lightsteelblue;   
  border: 0px;      
  border-radius: 8px;           
  pointer-events: none;         
} 


/* Styles go here */

.card-header {
  padding:2px;
  border:1px solid gray;
  display: inline-block; 
}

.fancy-frame2 {
-moz-border-bottom-colors: none;
-moz-border-left-colors: none;
-moz-border-right-colors: none;
-moz-border-top-colors: none;
border-color: #09C #F0F0F0;
border-image: none;
border-radius: 100px 0 100px 0;
-webkit-border-radius: 100px 0 100px 0;
-moz-border-radius: 100px 0 100px 0;
border-style: solid;
border-width: 5px;
box-shadow: 0 0 4px 0 #666666;
}

.A-grade {
  background-color:#53a93f;
}
.B-grade {
  background-color:#427fed;
}
.C-grade {
  background-color:#FF7E00;
}
.O-grade {
  background-color: rgb(221,75,57);
}

.is-active {
  color:#0088cc;
}


.selected {
  background: blue;
  color: white;

}

.unselected {
  background: silver;
  color: black;
  
}

.button_on {
  background: green;
  color: black;
}

.button_off {
  background: gray;
  color: white;
}


.timeframe-bar > .button{
  border: 1px solid #cfcfcf;
  
}

.timeframe-bar > .button:last-child {
  //border-radius: 0px 20px 20px 0px !important;
}
.timeframe-bar > .button:first-child {
    //border-radius: 20px 0px 0px 20px !important;
}
.gauge-label {
  font-size: 10px;
  text-align: center;

}

.gauge-value {
  font-size: 14px;
  text-align: center;

}

